main{
    flex: 1;
}

main ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*repetindo 2 elementos por coluna*/
    gap: 20px; /*Distanciando linhas e colunas*/
    list-style: none; /*tirando bolinhas de paragrafo*/
}

@media (max-width: 650px){
    main ul {
        grid-template-columns: 1fr;
    }
}


li.dev-item{
    main ul {
        grid-template-columns: 1fr;
    }
}